Base16 {{scheme-name}}
Scheme: {{scheme-author}}

/etc/vconsole.conf:
COLOR_0={{base00-hex}}
COLOR_1={{base08-hex}}
COLOR_2={{base0B-hex}}
COLOR_3={{base0A-hex}}
COLOR_4={{base0D-hex}}
COLOR_5={{base0E-hex}}
COLOR_6={{base0C-hex}}
COLOR_7={{base05-hex}}
COLOR_8={{base03-hex}}
COLOR_9={{base08-hex}}
COLOR_10={{base0B-hex}}
COLOR_11={{base0A-hex}}
COLOR_12={{base0D-hex}}
COLOR_13={{base0E-hex}}
COLOR_14={{base0C-hex}}
COLOR_15={{base06-hex}}

setcolors:
0#{{base00-hex}}
1#{{base08-hex}}
2#{{base0B-hex}}
3#{{base0A-hex}}
4#{{base0D-hex}}
5#{{base0E-hex}}
6#{{base0C-hex}}
7#{{base05-hex}}
8#{{base03-hex}}
9#{{base08-hex}}
10#{{base0B-hex}}
11#{{base0A-hex}}
12#{{base0D-hex}}
13#{{base0E-hex}}
14#{{base0C-hex}}
15#{{base06-hex}}
